
{
	metrics
}

#(localHost) {
#	@localhostOnly remote_ip 127.0.0.1
#}

#(localAdmin) {
#    @localAdminOnly remote_ip 192.168.0.32
#}

(localSubnets) {
	@localSubnetsOnly remote_ip private_ranges
}

import *.caddy